@import "layout/var";

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: $black;
    margin: 0;
    padding: 0;
    background: white;
    position: relative;

    &.opened-modal {
        overflow: hidden;
    }
}

p {
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    font-weight: normal;
}
header, footer, section, div, span, p, button, a, input, textarea, form {
    box-sizing: border-box;
}

button,input,textarea,select{
    outline: none;
}
button {
    padding: 0;
    border: 0;
    background-color: transparent;
    transition: 0.3s;
}
a {
    text-decoration: none;
    transition: 0.3s;
}

a:focus {
    outline: none;
}

form {
    margin: 0;
}

footer {
    margin: 0;
    padding: 0;
}





.container {
    width: 1336px;
    max-width: 100%;
    margin: 0 auto;

    @media (max-width: $lg) {
        width: 1170px;
    }

    @media (max-width: $md) {
        width: 940px;
    }

    @media (max-width: $sm) {
        width: 720px;
    }

    @media (max-width: $xs) {
        width: 100%;
        padding: 0 15px;
    }
}

.button {
    background: $yellow;
    width: 223px;
    height: 64px;
    cursor: pointer;

    &:hover {
        background: $black;
        color: white;

        span {
            &:before {
                opacity: 0;
            }
            &:after {
                opacity: 1;
            }
        }
    }

    span {
        font-weight: 500;
        font-size: 16px;
        position: relative;
        padding-left: 30px;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 3px;
            display: block;
            width: 11px;
            height: 11px;
            background: url('../img/arrow-small-black.svg');
            opacity: 1;
            transition: 0.3s;
        }

        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 3px;
            display: block;
            width: 11px;
            height: 11px;
            background: url('../img/arrow-small-white.svg');
            opacity: 0;
            transition: 0.3s;
        }
    }
}

.title {
    text-align: center;
    font-weight: bold;
    font-size: 40px;

    @media (max-width: $xs) {
        font-size: 32px;
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5000;
    background: rgba(0, 0, 0, 0.65);
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;

    &--opened {
        opacity: 1;
        pointer-events: auto;
    }

    &__content {
        margin: auto;
    }

    .contacts__block {
        position: relative;

        @media (max-width: $xs) {
            margin: 0 15px;
            width: calc(100% - 30px);
        }
    }

    &__close {
        display: block;
        position: absolute;
        width: 18px;
        height: 18px;
        top: 19px;
        right: 19px;
        background: url('../img/close.svg');
        cursor: pointer;
        transition: 0.3s;
        opacity: 0.24;

        &:hover {
            opacity: 1;
        }
    }
}

.thank {
    background: white;
    padding: 48px 70px;
    position: relative;

    &__title {
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
    }

    &__text {
        font-size: 18px;
        line-height: 140%;
        margin-top: 16px;
        text-align: center;
        color: $grey;
    }
}